@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 50px 0 45px;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  margin-left: 150px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 30px;
  }
  &__list-link{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  &__link--search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 20px;
  }
  &__wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    width: 180px;
    background-color: $accent-bg;
    border-radius: 25px;
    margin-right: 20px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 1px;
      height: 35px;
      background-color: #fff;
      left: 50%;
      transform: translateY(-50%);
      transform: translateX(-50%);
      z-index: 3;
    }
  }
  &__link{
    position: relative;
  }
  &__num{
    position: absolute;
    top: -9px;
    right:-10px;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
  }
  &__btn{
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a3bbc8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}



.footer-top{
  padding: 80px 0 70px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  &__contacts{
    width: 195px;
  }
  &__logo{
    margin-bottom: 25px;
  }
  &__adress,
  &__phone,
  &__email{
    margin-bottom: 15px;
  }
  &__nav{
    width: 130px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 50px;
    color: #1f2044;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__list-item{
    margin-bottom: 10px;
  }
  &__newsletter{
    width: 275px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    margin-bottom: 25px;
  }
  &__form-input{
    width: 170px;
    padding: 10px 5px 10px 10px;
    border: none;
    background-color: $accentlight-bg;
    &::placeholder{
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn{
    @extend %dmsans-400;
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: #a3bbc8;
    padding: 10px 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
  }
  &__nav-list{
    display: flex;
  }
  &__nav-item{
    padding: 0 15px;
    &:last-child{
      padding-right: 0;
    }
  }
  &__nav-item + .footer-bottom__nav-item{
    border-left: 1px solid #7b7b7b;
  }
}

.slider{
  &__inner{
    padding: 100px 15px 45px;
    background-color: $accent-bg;
    position: relative;
  }
  &__gradient{
    border-radius: 50%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 5%, rgba(255,255,255,1) 100%);
    width: 634px;
    height: 634px;
    position: absolute;
    top: 50%;
    right: 200px;
    transform: translateY(-48%);
  }
  &__wrapper{
    padding: 110px 0 0;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 195px;
  }
  &__content{
    max-width: 415px;
  }
  &__title{
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $title;
    margin-bottom: 25px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 25px;
    max-width: 360px;
  }
  &__btn-link{
    padding: 25px 20px 25px 25px;
    background-color: #a3bbc8;
    width: 200px;
    svg{
      fill: #fff;
      float: right;
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding: 0 5px;
      button{
        border: none;
        border-radius: 50%;
        padding: 0;
        width: 30px;
        height: 30px;
        background-color: rgba(255,255,255,0.4);
        @extend %rubik-500;
        font-size: 10px;
        text-align: center;
        cursor: pointer;
      }
      &.slick-active{
        button{
          background-color: rgba(255,255,255,1);
        }
      }
    }
  }
}

.info{
  background-color: $accentlight-bg;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  &__item{
    position: relative;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 565px;
    width: 100%;
  }
  &__item + .info__item{
    border-left: 1px solid #e8e4df;
  }
  &__icon{
    object-fit: contain;
  }
  &__item-content{
    width: 215px;
    margin-left: 25px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 30px;
    color: #414141;
    margin-bottom: 7px;
  }
  &__desc{
    @extend %dmsans-400;
    line-height: 22px;
    color: #585858;
  }
}

.products{
  padding-bottom: 45px;
  &__title{
    margin-bottom: 25px;
    text-align: center;
  }
  &__filter{
    text-align: center;
    margin-bottom: 80px;
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    min-height: 800px;
    margin-bottom: 180px;
  }
  &__item{
    background-repeat: no-repeat;
    background-position: center 35px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 35px 30px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
    &:hover .products__box-links{
      opacity: 1;
    }
  }
  &__box-links{
    display: flex;
    align-self: center;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    opacity: 0;
    transition: all .5s;
  }
  &__box-link{
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    svg{
      fill: #a3bbc8;
    }
    &:hover{
      background-color: #a3bbc8;
      svg{
        fill: #fff;
      }
    }
  }
  &__box-link + .products__box-link{
    margin-left: 15px;
  }
  &__tabs{
    display: flex;
    justify-content: space-between;
  }
  &__tabs-item{
    max-width: 870px;
    width: 100%;
    background-color: #feefe2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
  }
  &__tabs-img{
    margin-top: -100px;
    object-fit: contain;
  }
  &__tabs-content{
    padding-top: 100px;
    max-width: 340px;
    margin-left: 60px;
    color: #243f4d;
  }
  &__tabs-title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  &__tabs-desc{
    @extend %rubik-400;
    line-height: 30px;
    margin-bottom: 20px;
  }
  &__tabs-link{
    padding: 23px 20px;
    @extend %rubik-500;
    font-size: 15px;
    color: #436372;
    background-color: transparent;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    max-width: 180px;
    width: 100%;
    svg{
      float: right;
      fill: #436372;
    }
  }
}

.design{
  padding: 45px 0;
  &__title{
    text-align: center;
    margin-bottom: 25px;
  }
  &__filter{
    text-align: center;
    margin-bottom: 80px;
  }
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 525px;
    grid-gap: 30px;
    margin-bottom: 120px;
  }
  &__item{
    padding-top: 40px;
    padding-left: 40px;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    position: relative;
    &:nth-child(3),
    &:nth-child(5){
      background-position: 210px;
    }
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 25px;
    width: 175px;
    span{
      font-size: 16px;
      color: #a3bbc8;
      display: block;
      margin-top: 10px;
    }
  }
  &__item-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__video{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.articles{
  padding: 55px 0;
  &__title{
    margin-bottom: 40px;
  }
  &__view-link{
    float: right;
    margin-top: -70px;
    padding-right: 25px;
    position: relative;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1;
    color: #262626;
    display: inline;
    &::after{
      content: ">";
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
  }
  &__item-news{
    @extend %poppins-700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #a3bbc8;
    width: 103px;
    padding: 5px 5px;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    top: 235px;
    left: 30px;
  }
  &__content{
    padding: 35px 30px 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  &__text-link{
    padding-bottom: 20px;
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 1;
    color: #262626;
  }
  &__content-info{
    @extend %rubik-400;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    border-top: 1px solid #e0e0e0;
    margin-top: auto;
    padding-top: 15px;
    align-content: flex-end;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  &__content-date{
    margin-right: 35px;
    padding-left: 17px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      background-image: url('../images/icons/date.svg');
      background-repeat: no-repeat;
      width: 12px;
      height: 14px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__content-aphtor{
    @extend %rubik-400;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    padding-left: 17px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      background-image: url('../images/icons/aphtor.svg');
      background-repeat: no-repeat;
      width: 12px;
      height: 14px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.partners{
  background-color: $accentlight-bg;
  padding-top: 200px;
  margin-top: -230px;
  &__wrapper{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img{
    margin: 0 45px;
    object-fit: contain;
  }
}







@import 'media';